In [5]:
import os
import pandas as pd
import alpaca_trade_api as tradeapi
from dotenv import load_dotenv

In [6]:
load_dotenv("./.env")

alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

api = tradeapi.REST(alpaca_api_key, alpaca_secret_key, base_url='https://data.alpaca.markets/')

In [19]:
# Set start and end datetimes 
start_date = pd.Timestamp("2009-10-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2019-10-01", tz="America/New_York").isoformat()

def ticker_pull(ticker, start_date, end_date):
    # Set timeframe to '1D'
    timeframe = '1D'

    # Get 1 year's worth of historical data for AAPL
    df = api.get_barset(
        ticker,
        timeframe,
        limit=None,
        start=start_date,
        end=end_date,
        after=None,
        until=None,
    ).df

    return df.head(10)

In [20]:
ticker_pull('AAPL', start_date, end_date)

                             AAPL
                             open    high     low   close     volume
time
2009-10-01 00:00:00-04:00  26.479  26.603  25.814  25.823  124022485
2009-10-02 00:00:00-04:00  25.914  26.563  25.907  26.414  125291010
2009-10-05 00:00:00-04:00  26.601  26.694  26.324  26.571  100963532
2009-10-06 00:00:00-04:00  26.821  27.143  26.757  27.143  132031641
2009-10-07 00:00:00-04:00  27.097  27.221  27.005  27.177  112817148
2009-10-08 00:00:00-04:00  27.251  27.350  26.984  27.036  102335165
2009-10-09 00:00:00-04:00  26.996  27.243  26.946  27.207   68838969
2009-10-12 00:00:00-04:00  27.297  27.359  27.091  27.259   65999901
2009-10-13 00:00:00-04:00  27.227  27.310  27.100  27.141   66725920
2009-10-14 00:00:00-04:00  27.464  27.474  27.176  27.329   88361873